#loading {
    width: 15px;
    height: 15px;
    /*border: 5px solid #ccc;
    border-top-color: #ff6a00;
    /* center spinner */
    /*position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;*/
    /* make it spin */
    /*animation: round 2s linear infinite;
    }
    @keyframes round{
        from{transform: rotate(0deg)}
        to{transform: rotate(360deg)}*/
    }
